@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* Overall */
* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

/* Navigationsleiste */
.navigation {
  z-index: 100;
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  align-items: center;
  font-size: 13pt;
  background-color: white;
  padding: 0.5em;
  padding-left: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  position: fixed;
  width: 90px;
  margin-left: 40px;
  margin-top: -20px;
}

.circle {
  position: fixed;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.banner-title {
  position: static;
  display: flex;
  flex-direction: column;
  /* width: 30%; */
  margin-left: 11rem;
  color: #04070b;
  font-size: 0.75em;
}

nav {
  flex: 1 1 100%;
  text-align: right;
  margin-right: 1em;
}

nav ul li {
  list-style: none;
  display: inline-flex;
  margin: auto;
  margin-right: 1em;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: rgb(150, 0, 0);
  transition: 300ms ease;
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* Dropdown */

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content {
  position: absolute;
  display: none;
  padding-top: 23px;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 200;
  background-color: transparent;
}

.dropdown-content a {
  color: rgb(150, 0, 0);
  padding: 15px 9px;
  display: block;
  text-align: left;
  background-color: #fff;
}

.dropdown-content a:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Nav Deco */
.idle::after {
  content: "";
  display: block;
  border-bottom: solid 3px rgb(150, 0, 0);
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.idle:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a.active {
  color: #fff;
  background-color: rgb(150, 0, 0);
  border-radius: 4px;
}

.sidenav a.active {
  color: #fff;
  background-color: rgb(150, 0, 0);
  border-radius: 4px;
}

/* SideNav */
.burger {
  display: none;
  cursor: pointer;
  float: right;
  margin-right: 1em;
}

.burger div {
  width: 40px;
  height: 2px;
  background-color: rgb(150, 0, 0);
  margin: 8px;
  border: 1px solid rgb(150, 0, 0);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(150, 0, 0);
  display: block;
  transition: 0.3s;
}

.sidenav .sub {
  font-size: 1.2em;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 50px;
  margin-left: 50px;
}

/* Slideshow */
.slider {
  height: 500px;
  margin-top: 50px;
}

.slider img {
  object-fit: cover;
  height: 600px;
  color: #fff;
}

.slick-dots {
  top: 550px;
}

.slick-dots li button:before {
  color: #04070b;
  transform: scale(2);
}

.slick-dots li.slick-active button:before {
  color: rgb(150, 0, 0);
}

/* Main Bereich */
.main {
  height: 100%;
  background-color: #f5f5f5;
  padding: 1em;
  padding-top: 8em;
  text-align: center;
}

.sec-name {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(150, 0, 0);
  margin: 1em;
}

h2 {
  margin-top: -1.5em;
}

.main ul {
  list-style: none;
}

/* Jubi Text */
.jubi {
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Leistungen Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  justify-content: center;
  margin-bottom: 5em;
}

.card {
  background-color: white;
  width: 300px;
  margin: 1em;
  margin-bottom: 2em;
  border-radius: 8px;
  user-select: none;
  color: rgb(150, 0, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transform: scale(1.025);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.card-image {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
}

.img-1 {
  background-image: url("images/72dpi/Bild_35_72dpi.jpg");
}

.img-2 {
  background-image: url("images/72dpi/Bild_29_72dpi.jpg");
}
.img-3 {
  background-image: url("images/72dpi/Bild_21_72dpi.jpg");
}
.card p {
  padding: 1em;
  color: #04070b;
  align-items: center;
}

/* Maßschuh */
.massschuh {
  padding: 1em;
  margin-bottom: 5em;
}

.schritt {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
  color: #fff;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.schritt > * {
  flex-basis: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.schritt img {
  width: 1em;
  height: 20em;
  object-fit: cover;
  border-radius: 8px;
}

.schritt p {
  position: relative;
  background-color: rgb(150, 0, 0);
  border-radius: 8px;
  padding: 1em;
  font-weight: bold;
}

.schritt p::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid rgb(0, 226, 11);
}
.text {
  display: flex;
  margin: auto;
  margin-top: -2em;
  background-color: #fff;
  margin-left: 10em;
  margin-right: 10em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Stimmen */
.stimmen {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.stimmen > * {
  flex: 1 1 25%;
  background-color: white;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stimmen > *::before {
  content: open-quote;
  font-weight: bold;
  color: rgb(150, 0, 0);
}

.stimmen > *::after {
  content: close-quote;
  font-weight: bold;
  color: rgb(150, 0, 0);
}

/* Pflegetipps */
.tipps {
  counter-reset: tipp;
}

.tipps > * {
  background-color: white;
  padding: 2em;
  margin: 3em;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tipps > *::before {
  counter-increment: tipp;
  content: counter(tipp) ". ";
  font-weight: 400;
  position: relative;
  transform: scale(1.2);
  color: #fff;
  float: left;
  top: -1em;
  margin-right: 2em;
  margin-bottom: 2em;
  background-color: rgb(150, 0, 0);
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Chronologie Timeline */

.timeline {
  margin-top: 60px;
  margin-bottom: 25px;
  background-color: white;
  padding: 2em;
  margin: 4em;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: #04070b;
  border-left: 3px solid rgb(150, 0, 0);
  border-bottom: 1px solid rgba(28, 49, 68, 0.15);
}
.timeline-item p {
  margin-top: 1em;
  font-size: 1rem;
}

.timeline-item img {
  margin-top: 1em;
  width: 60vh;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.timeline-item::after {
  margin-top: 45px;
  width: 12px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -3px;
  border-radius: 5px;
  content: "";
  border: 2px solid rgb(150, 0, 0);
  background: rgb(150, 0, 0);
}

.timeline-item:nth-child(2) {
  border-image: linear-gradient(to top, rgba(150, 0, 0, 1) 50%, transparent) 1
    100%;
}

.timeline-item:last-child {
  border-image: linear-gradient(to bottom, rgba(150, 0, 0, 1) 50%, transparent)
    1 100%;
}

/* Kontakt */
.kontakt-cont {
  display: flex;
  flex-basis: 100%;
  padding: 1em;
  margin: 1em;
  gap: 25px;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
.kontakt-cont > * {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: auto;
}

.infos {
  padding: 2em;
  text-align: left;
}

table {
  width: 100%;
  margin: 1em;
  margin-bottom: 2em;
}

.zeiten {
  color: rgb(150, 0, 0);
  font-weight: 700;
  margin-bottom: 3em;
}

table td {
  padding-bottom: 1em;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: white;
  background-color: #04070b;
  padding-left: 2em;
  padding-right: 2em;
}

footer a {
  text-decoration: none;
  color: white;
  float: right;
  margin-left: 2em;
}

.icons {
  display: flex;
  padding: 5px;
  list-style: none;
}

/* Animation */
@keyframes menuFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Medie Queries */
@media only screen and (min-width: 0px) {
  .menu,
  .banner-title,
  .circle {
    display: none;
  }

  .logo {
    transform: scale(0.5);
    margin-left: -25px;
    margin-top: -52px;
  }

  .icons img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    padding: 0em;
  }

  .burger {
    display: block;
    color: rgb(150, 0, 0);
  }
  .text {
    margin-left: 5em;
    margin-right: 5em;
  }

  .timeline-item img {
    width: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .icons img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    padding: 2px;
  }

  .burger {
    display: block;
  }

  .timeline-item img {
    width: 55vh;
  }
}

@media only screen and (min-width: 1080px) {
  .menu,
  .banner-title,
  .circle {
    display: inline-flex;
  }

  .banner-title {
    width: 30%;
  }

  .card:nth-child(2) {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .icons img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    padding: 2px;
  }

  .logo {
    margin-left: 40px;
    margin-top: -20px;
    transform: scale(1);
  }

  .burger,
  .sidenav {
    display: none;
  }

  .text {
    margin-left: 10em;
    margin-right: 10em;
  }

  .timeline-item img {
    width: 60vh;
  }
}
